.made_books{
    position: relative;
    .content_container{
        padding-bottom: 70px;

        @media (max-width: $tablet_bp) {
            height: 832px;
            padding-bottom: 0;
        }
        @media (max-width: $mobile_bp) {
            height: 910px;
        }
    }
}
.made_books_title{
    text-align: center;
}
.made_books_content{
    position: relative;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img{
        position: absolute; 
        top: 0;
        left: 50%;
        transform: translate(-50%);  
        @media (max-width: $tablet_bp) {
            width: 448px;
            height: 390px;

            top: 125px;
        }
        @media (max-width: $mobile_bp) {
            min-width: 320px;
            height: 279px;

            top: 220px;
        }
    }
    @media (max-width: $tablet_bp) {
        height: 646px;
        margin-top: 28px;
    }
    @media (max-width: $mobile_bp) {
        height: 750px;
        margin-top: 0;
    }
    
}
.made_books__steps{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    @media (max-width: $tablet_bp) {
        padding: 0;
    }
    @media (max-width: $mobile_bp) {
        flex-direction: column;
    }
}
.made_books__step{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 295px;

    .made_books__step_title{
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;

        padding-bottom: 10px;
    }
    .made_books__step_text{
        width: 220px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        @media (max-width: $tablet_bp) {
            font-size: 14px;
            line-height: 21px;
            padding-bottom: 0;
        }
        @media (max-width: $mobile_bp) {
            padding-bottom: 24px;
        }
    }

    @media (max-width: $tablet_bp) {
        width: 340px;

        .made_books__step_text{
            width: 340px;
        }
    }
    @media (max-width: $mobile_bp) {
        width: 290px;

    }
}