.quiet_books{
    background-color: $blue;
    position: relative;

    .quiet_books_line{
        position: absolute;
        bottom: 0;
        right: 0;

        @media (max-width: $tablet_bp) {
            transform: rotate(90deg);
            width: 1373.44px;
            height: 818.63px;
            right: 158px;
            top: 213.19px;

        }
    }
    @media (max-width: $mobile_bp) {
        .content_container{
            padding-bottom: 40px;
        }
    }
}
.quiet_books_info{
    display: flex;
    justify-content: space-between;

    .quiet_books_title{
        width: 465px;
        position: relative;

        .stripes{
            position: absolute;
            transform: rotate(60deg);
            top: -35px;
            right: -60px;
        }

        @media (max-width: $tablet_bp) {
            padding-bottom: 35px;
            width: 347px;

            .stripes{
                width: 51px;
                height: 50px;
                top: -10px;
                right: -30px;
            }
        }
    }
    .quiet_books_text{
        width: 625px;
        padding-top: 10px;

        h2{
            font-size: 32px;
            line-height: 48px;
            color: $darcBlue;
        }

        @media (max-width: $tablet_bp) {
            position: absolute;
            width: 370px;
            top: 175px;
            right: 0;

            h2{
                font-size: 24px;
                line-height: 36px;
            }
        }
    }
    @media (max-width: $mobile_bp) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        .quiet_books_title{
            padding: 0;
            width: 290px;

            .big_title{
                padding: 0;
            }

            .stripes{
                top: -20px;
                right: 0px;
            }
        }
        .quiet_books_text{
            position: static;
            width: 290px;

            h2{
                font-size: 24px;
                line-height: 36px;
            }
        }
    }
}

.quiet_books_content{
    position: relative;
    height: 793px;

    .quiet_books_items{
        width: calc($ds * 18);
        height: calc($ds * 18);
        max-width: 352px;
        max-height: 352px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: $colorWhite;
        border: 4px dashed $pink;

        box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 1);
        
        border-radius: 50%;
        
        @media (max-width: $tablet_bp) {
            width: 310px;
            height: 310px;
        }
        @media (max-width: $mobile_bp) {
            position: relative;
            width: 296px;
            height: 296px;
        }

        h3{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
        }
        p{
            width: 253px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;

            @media (max-width: $tablet_bp) {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
    @media (max-width: $tablet_bp) {
        height: 1085px;
    }
    @media (max-width: $mobile_bp) {
        padding-top: 48px;
        height: 448px;
    }

    // Костиль ;(
        .quiet_books_items:after{
            content: '';
            box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
    
            display: block;
            position: absolute;
            top: 1px;
            left: 1px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border-radius: 50%;
        }
}

.quiet_item1{
    position: absolute;
    top: calc($ds / 3);
    left: calc($ds / 3);
}
.quiet_item2{
    position: absolute;
    top: calc($ds * 5.2);
    left: 50%;
    transform:translate(-50%)
}
.quiet_item3{
    position: absolute;
    top: calc($ds * 2.6);
    right: calc($ds / 3.8);
}
.quiet_item4{
    position: absolute;
    bottom: calc($ds * 1.5);
    left: calc($ds * 7);
}
.quiet_item5{
    position: absolute;
    bottom: calc($ds / 3);
    right: calc($ds * 7);
}

@media (max-width: $tablet_bp) {
    .quiet_item1{
        top: 0px;
        left: 0;
    }
    .quiet_item2{
        top: 179px;
        right: 0;
        left: auto;
        transform: none;
    }
    .quiet_item3{
        top: 395px;
        left: 0;
        right: auto;
    }
    .quiet_item4{
        top: 580px;
        right: 0;
        left: auto;
    }
    .quiet_item5{
        top: 780px;
        right: auto;
        left: 0;
    }
}
@media (max-width: $mobile_bp) {
    .quiet_item1,.quiet_item2,.quiet_item3,.quiet_item4,.quiet_item5{
        left: auto;
        top: auto;
    }
}

.quiet_books_content .slick-slide.slick-active{
    z-index: 10;
}
.quiet_books_content .slick-dots li.slick-active button{
    opacity: 1;
    background: $darcBlue;
}