.sudheader{
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    background-color: $yellow;
    
    .sudheader__item{
        display: flex;
        align-items: center;
        gap: 8px;
    
        .icon {
            font-size: 32px;
        }
    }    
}
/* Слайдер */
.sudheader .slick-slider{
    display: flex;
}
/* Обмежуюча оболонка */
.sudheader_slider .slick-list {
    overflow: hidden;
}
/* Стрічка слайдів */
.sudheader_slider .slick-track{
    display: flex;
}
/* Слайд */
.sudheader_slider .slick-slide{
    display: flex;
    justify-content: center;
}
