<header class="header">
	<div class="container">
		<div class="main_panel">
			<div class="left_tools">
				<div class="phone">
					<img src="img/svg/icons/icon-phone.svg" alt="">
					<p class="weight-600 color-pink">+49 61729452910</p>
				</div>
				<a class="weight-600 color-gray language" href="#">en</a>
			</div>
			<img class="logo" src="img/logo.png" alt="">
			<div class="right_tools">
				<a href="#">
					<img src="img/svg/icons/icon-search.svg" alt="">
				</a>
				<a href="#">
					<img src="img/svg/icons/icon-user.svg" alt="">
				</a>
				<a class="like" href="#">
					<img src="img/svg/icons/icon-heart-1.svg" alt="">
					<div class="counter">6</div>
				</a>
				<a class="like" href="#">
					<img src="img/svg/icons/icon-cart.svg" alt="">
					<div class="counter">2</div>
				</a>
			</div>
		</div>

		<div class="nav">
			<a href="#" class="weight-600 color-gray nav_item select">Products</a>
			<a href="#" class="weight-600 color-gray nav_item">Child Development</a>
			<a href="#" class="weight-600 color-gray nav_item">What are Quiet Books</a>
			<a href="#" class="weight-600 color-gray nav_item">Blog</a>
			<a href="#" class="weight-600 color-gray nav_item select">About Us</a>
			<a href="#" class="weight-600 color-gray nav_item select">Support</a>
			<a href="#" class="weight-600 color-gray nav_item">Where to Find Us</a>
		</div>
	</div>
</header>
