<div class="meets">
    <div class="content_container">
        <div class="meets_slider_tabs">
            <div class="meets_slider_tab active" data-index="0" id="0">Meet the Jolly Family</div>
            <div class="meets_slider_tab" data-index="1" id="1">Meet the Team</div>
            <div class="meets_slider_tab" data-index="2" id="2">Meet the Production</div>
        </div>

        <div class="meets_flex_title">
            <div class="meets_title">
                <img class="stripes" src="img/svg/icons/stripes.svg" alt="" class="stripes">
                <h1 class="big_title">Meet the Jolly Family!</h1>
            </div>
        </div>
        
        <p>About our story, values & mission</p>

        <div class="meets_slider">
            <div class="meets_slider_item">
                <img src="img/meets_item1.png" alt="">
            </div>
            <div class="meets_slider_item">
                <img src="img/meets_item2.png" alt="">
            </div>
            <div class="meets_slider_item">
                <img src="img/meets_item1.png" alt="">
            </div>
        </div>

        <button class="pink_button">learn more</button>
    </div>
</div>