<div class="order__modal">
    <div class="order__modal_content">
        <button class="order__modal_close"></button>
        <img src="img/logo.png" alt="" class="logo">
        <h1>Get 10% on your first order!</h1>
        <p>Join our email list to receive updates and exclusive offers</p>
        <form class="order__modal_form" action="/">
            <input class="order__modal_input" type="input" placeholder="Your e-mail address">
            <div class="order__modal_dropdown_container">
                <input class="order__modal_dropdown" type="input" placeholder="Your country">
            </div>
            <input class="order__modal_button" type="button" value="Subscribe">
        </form>
    </div>
</div>