<div class="quiet_books">
    <div class="content_container">
        <img src="img/svg/icons/line.svg" alt="" class="quiet_books_line">
        
        <div class="quiet_books_info">
            <div class="quiet_books_title">
                <img src="img/svg/icons/stripes.svg" alt="" class="stripes">
                <h1 class="big_title color-darkBlue">Our Quiet Books</h1>
            </div>
            <div class="quiet_books_text">
                <h2>are developed by child experts to improve your children's fine motor development</h2>
            </div>
        </div>
    </div>
</div>