<div class="quiet_books">
    <div class="content_container">
        <img src="img/svg/icons/line.svg" alt="" class="quiet_books_line">
        
        <div class="quiet_books_info">
            <div class="quiet_books_title">
                <img src="img/svg/icons/stripes.svg" alt="" class="stripes">
                <h1 class="big_title color-darkBlue">Our Quiet Books</h1>
            </div>
            <div class="quiet_books_text">
                <h2>are developed by child experts to improve your children's fine motor development</h2>
            </div>
        </div>

        <div class="quiet_books_content">
            <div class="quiet_books_items quiet_item1">
                <img src="img/quiet/quiet_books_icon1.png" alt="">
                <h3>Learning</h3>
                <p>Our pediatrician-recommended products are a great way for your children to learn, enhance their fine motor skills and develop their imagination</p>
            </div>
            <div class="quiet_books_items quiet_item2">
                <img src="img/quiet/quiet_books_icon2.png" alt="">
                <h3>Easy to carry</h3>
                <p>Our light-weight and flexible books will keep your children busy for your long journeys or dinners at the restaurant.</p>
            </div>
            <div class="quiet_books_items quiet_item3">
                <img src="img/quiet/quiet_books_icon3.png" alt="">
                <h3>Sustainability</h3>
                <p>All of our products are plastic-free and fairly produced.</p>
            </div>
            <div class="quiet_books_items quiet_item4">
                <img src="img/quiet/quiet_books_icon4.png" alt="">
                <h3>Long-lasting products</h3>
                <p>Our high-quality products can be passed on from generation to generation</p>
            </div>
            <div class="quiet_books_items quiet_item5">
                <img src="img/quiet/quiet_books_icon5.png" alt="">
                <h3>Versatile toys</h3>
                <p>Our products can be played in countless unimaginable ways. We offer your children a world of creativity in each of our books.</p>
            </div>
        </div>
    </div>
</div>