<div class="retailer">
    <div class="content_container">
        <div class="flex_title">
            <h1 class="big_title color-darkPink">Retailer Stores</h1>
        </div>

        <div class="retailer_slider">
            <div>
                <div class="slide slide1_row_top">
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide1/1.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide1/2.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide1/3.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide1/4.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="slide slide1_row_bottom">
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide1/5.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide1/6.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide1/7.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide1/8.png" alt="">
                    </div>
                </div>
            </div>


            <div>
                <div class="slide row_top">
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide2/1.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide2/2.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide2/3.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide2/4.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide2/5.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="slide row_bottom">
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide2/6.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide2/7.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide2/8.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide2/9.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide2/10.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide2/11.png" alt="">
                    </div>
                </div>
            </div>


            <div>
                <div class="slide row_top">
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide3/1.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide3/2.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide3/3.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide3/4.png" alt="">
                    </div>
                    
                </div>
            </div>
            <div>
                <div class="slide row_bottom">
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide3/5.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide3/6.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide3/7.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide3/8.png" alt="">
                    </div>
                    <div class="retailer_slider_item">
                        <img src="img/retailer/slide3/9.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>