<div class="sudheader">
    <div class="container">
        <div class="sudheader_slider">
            <div class="sudheader__item">
                <i class="icon icon-icon-car"></i>
                <p class="sudheader__item_title">Free shipping from 60€ (DE)</p>
            </div>
            <div class="sudheader__item">
                <i class="icon icon-icon-hand-made"></i>
                <p class="sudheader__item_title">High quality hand-mand & ethical products</p>
            </div>
            <div class="sudheader__item">
                <i class="icon icon-icon-guarantee"></i>
                <p class="sudheader__item_title">6 Months guarantee</p>
            </div>
            <div class="sudheader__item">
                <i class="icon icon-icon-heart"></i>
                <p class="sudheader__item_title">The favourite of XXXX partners</p>
            </div>
            <div class="sudheader__item">
                <img src="img/svg/icons/icon-germany.svg" alt="">
                <p class="sudheader__item_title">Made in Germany</p>
            </div>
            <div class="sudheader__item">
                <i class="icon icon-icon-replacement"></i>
                <p class="sudheader__item_title">Free shipping from 60€ (DE)</p>
            </div>
        </div>
    </div>
</div>